body{
	font-family: 'Bona Nova', serif;
	font-family: 'Source Sans Pro', sans-serif;
	background: url(fon.jpg);
	color: cyan;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: green;
	margin:0;
	padding:0;

}
a{
	 text-decoration:none;
	 color:gold;
}
a:hover{
	 text-decoration:none;
	 color:red;
}
}
footer{
	text-align: right;
	background:#808080;
}
header{
	background:grey;
	text-align: center;
	margin-top: 0;
}
.h{
	text-decoration: underline;
	text-align: center;
}
.p{
	background-color: grey;
	font-size: small;
}
.img{
	border: 4px solid grey;
	border-radius: 5%;
	margin-left:10%;
}
.img2{
	border: 4px solid grey;
	border-radius: 5%;
	margin-left:0;
	width:40%;
}
.circl{
	width: 50px;
	border:none;
}
.a11{
	position: fixed;
	bottom: 5px;
	left: 15px;
	z-index: 10;
}
.card{
	width: 30%;
	height: 150px;
	margin-left: 3%;
	display: inline-block;
}
.card img{
	width: 25%;
	margin-right: 5%;
}
form{
	margin-left: 5%;
}
form input{
	margin-left: 5px;
}